<h3>New Workout</h3>
<%= form_for @workout, remote: true do |w| %>

  <div class="field">
  <%= w.label :activity %>
  <%= w.text_field :activity %><br>
  </div>

  <div class="field">
  <%= w.label :location %>
  <%= w.text_field :location %>
  </div>

  <div class="field">
  <%= w.label :start_date %>
  <%= w.date_select :start_date %>
  </div>

  <div class="field">
  <%= w.label :start_time %>
  <%= w.time_select :start_time, :ampm => true, :minute_step => 5 %>
  </div>

  <div class="action">
  <%= w.submit %>
  </div>

<% end %>