<% if current_user %>

  <div class="notifications">
    <%= render 'invites' %>
  </div>
  <div class="notifications">
    <%= render 'rating_requests' %>
  </div>
  <div class="notifications">
    <%= render 'friends' %>
  </div>


<div class="row" id="add-workout">
    <div class="small-12 small-centered column">
      <a href="#" data-reveal-id="new-workout-container"><%= image_tag "plus.png", class: "fa" %></a>
        <h4>New Workout</h4>
        <!-- <i class="fa fa-plus-circle fa-3x"></i> -->
    </div><br>
  </div>

  <div id="workout-container">
    <%= render 'workouts' %>
  </div>

<div class="panel" id="accountability-score" data-total="<%= @user.received_ratings.where(:confirmed => true).count.to_f %>" data-confirmed="<%= @user.received_ratings.where(:confirmed => false).count.to_f %>">
  <%= current_user.username %>'s Accountability <br>
  <% if @user.received_ratings.any? %>
    <%= ((@user.received_ratings.where(:confirmed => true).count.to_f / @user.received_ratings.count.to_f * 100).floor).to_s + "%" %>
  <% end %>
</div>

<canvas id="myChart" width="200" height="200"></canvas>


  <div id="new-workout-container" class="reveal-modal" data-reveal>
    <%= render 'new_workout' %>
  </div>





<% else %>

  <h2><%= link_to "Sign Up", new_user_path  %> or <%= link_to "Login", login_path %></h2>

<% end %>



