
<div class="content-primary">
  <% if current_user %>
  <%= link_to "New Workout", new_workout_path, class: "button" %><br>
   
       <%= render 'workouts' %>


      <%= render 'invites' %>

      <%= render 'rating_requests' %>
    

<% else %>

  <h2><%= link_to "Sign Up", new_user_path  %> or <%= link_to "Login", login_path %></h2>

<% end %>
  
</div>



