<h1>FitByFriday</h1>

<% if current_user %>
  <%= link_to "New Workout", new_workout_path %><br>
  <br>

  <% days_of_week.each do |day| %>
    <h3><%= day.capitalize %></h3>
    <% @workouts.each do |w| %>
      <% if w.start_time.send( day + '?' ) %>
        <%= link_to w.activity, workout_path(w.id) %> at <%= w.start_time.strftime("%I:%M %p") %><br />
      <% end %>
    <% end %>
  <% end %>

  <h2>Pending Invites<h2>
    <p>
    <% @user.received_requests.each do |r| %>
      <%= Workout.find(r.workout_id).activity %> with <%= User.find(r.sender_id).username %><br>
    <% end %>
  </p>

<% else %>

<h2>Sign up or Login</h2>

<% end %>