<h1>Workout details</h1>

<ul>
  <li><%= @workout.activity %></li>
  <li><%= @workout.location %></li>
  <li><%= @workout.start_time %></li>
</ul>

<h2>Who's Attending:</h2>
<% @workout.user_workouts.each do |w| %>
  <%= User.find(w.user_id).username %><br>
<% end %>

<h2>Awaiting Confirmation</h2>
<% @workout.invitations.each do |i| %>
  <% if i.confirmed == false %>
    <%= User.find(i.target_id).username %><br>
  <% end %>
<% end %>  

<h3>Invite a Friend</h3>

<%= form_tag invite_workout_path, :method => :post do %>
  
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
 
  <div class="actions">
    <%= submit_tag "Invite Friend" %>
  </div>
<% end %>

<br>

<%= link_to "Back", root_path %>
