<div class="row">
  <div class="small-12 column">
    <h1><%= @workout.activity %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="subheader"><%= @workout.location %></h3>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="subheader"><%= @workout.start_date.strftime("%A, %b %d") %> at <%= @workout.start_time.strftime("%I:%M %p") %></h4>
  </div>
</div>

<div class="attending">
  <div class="row">
    <div class="small-12 column">
      <h2>Who's Attending?</h2>
    </div>
  </div>
    <div class="row">
  <% @workout.user_workouts.each do |w| %>
    <div class="small-4 column">
        <%= link_to gravatar_for(w.user), w.user %>
      <div class="row participant-name">
        <div class="small-3-center column">
          <h4><%= link_to w.user.username, w.user %></h4>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

</div>
<% if @workout.invitations.where(confirmed: false).any? %>
  <div id="awaiting-confirmation">
      <h2>Awaiting Confirmation</h2>
      <% if @workout.creator == current_user %>
        <% @workout.invitations.each do |i| %>
          <% if i.confirmed == false %>
            <%= link_to i.target.username, workout_invitation_path(i.workout_id, i) %><br>
          <% end %>
        <% end %>
      <% else %>
          <% @workout.invitations.each do |i| %>
          <% if i.confirmed == false %>
            <%= i.target.username %><br>
          <% end %>
        <% end %>
      <% end %>
  </div>
<% end %>
  <% if @invite.present? %>
  <% if @invite.errors.any? %>
  ERROR
  <% end %>
  <% end %>

  <h2>Invite Your Friends</h2>

  <div class="row">
  <% current_user.friends.each do |friend| %>

      <div class="small-6 large-3 columns">
        <% unless friend.workouts.where(id: @workout).present? || friend.received_requests.where(workout: @workout).present? %>
        <%= form_tag invite_workout_path, :method => :post, :class => "friend-invite-form" do %>
          <%= friend.username %>
          <%= hidden_field_tag(:user_id, friend.id) %>
          <div class="actions" id="invitefriend">
            <%= submit_tag "Invite Friend", class: "tiny button" %>
          </div>
        <% end %>
      <% end %>
      </div>
  <% end %>
  </div>

 <br>

<br>

<%= link_to "Find Friends", users_path, class: "button" %>


