<h1>Workout details</h1>

<%= @workout.activity %><br>
<%= @workout.location %><br>

<%= @workout.start_date.strftime("%A, %b %d") %><br>
<%= @workout.start_time.strftime("%I:%M:%S %p") %><br>


<div id="attending">
  <h2>Who's Attending:</h2>
  <% @workout.user_workouts.each do |w| %>
    <%= User.find(w.user_id).username %><br>
  <% end %>
</div>

<h2>Awaiting Confirmation</h2>
<% if @workout.creator == current_user %>
  <% @workout.invitations.each do |i| %>
    <% if i.confirmed == false %>
      <%= link_to i.target.username, workout_invitation_path(i.workout_id, i) %><br>
    <% end %>
  <% end %>
<% else %>
    <% @workout.invitations.each do |i| %>
    <% if i.confirmed == false %>
      <%= i.target.username %><br>
    <% end %>
  <% end %>
<% end %>

  <% if @invite.present? %>
  <% if @invite.errors.any? %>
  ERROR
  <% end %>
  <% end %>


  <h3>Invite a friend in your group</h3>

  <% current_user.friends.each do |friend| %>

    <%= form_tag invite_workout_path, :method => :post do %>
      <%= friend.username %>
      <%= hidden_field_tag(:user_id, friend.id) %>
      <div class="actions">
        <%= submit_tag "Invite Friend" %>
      </div>
    <% end %>
  <% end %>

 <br>
 <br>
  or


  <div class="row">
  <div class="small-12 columns">
    <h3>Invite a friend to join Fit By Friday</h3>
    <%= form_tag('app_invite', method: "post") do %>
    <%= email_field_tag(:email) %>
    <%= hidden_field_tag(current_user) %>
    <%= button_tag("Invite") %>
    <% end %>
  </div>
</div>


<br>

<%= link_to "Back", root_path %>


