<div class="row">
  <div class="small-12 column">
    <h1><%= @workout.activity %></h1>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="subheader"><%= @workout.location %></h3>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="subheader"><%= @workout.start_date.strftime("%A, %b %d") %> at <%= @workout.start_time.strftime("%I:%M %p") %></h3>
  </div>
</div>

<div class="row">
  <div class="small-12 column">
    <h3 class="subheader">What's on the line? <%= @workout.punishment %></h3>
  </div>
</div>

<div class="attending row">
  <h2 class="small-12 column">Who's Attending?</h2>

  <div class="small-12 column">
    <%= render :partial => "user_workout", :collection => @workout.user_workouts %>
  </div>
</div>

</div>

<% if @workout.invitations.where(confirmed: false).any? %>
  <div id="awaiting-confirmation" class="row">
    <h2 class="small-12 column">Awaiting Confirmation</h2>
    <div class="small-12 column">

      <% if @workout.creator == current_user %>
        <% @workout.invitations.each do |i| %>
        <% if i.confirmed == false %>

          <div class="workout-friend">
            <%= link_to gravatar_for(i.target), i.target %>

          <h4><%= link_to i.target.username, workout_invitation_path(i.workout_id, i) %></h4>
          </div>
    </div>

        <% end %>
        <% end %>
      <% else %>
          <% @workout.invitations.each do |i| %>
          <% if i.confirmed == false %>
            <%= i.target.username %><br>
          <% end %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>

  <% if @invite.present? %>
    <% if @invite.errors.any? %>
      ERROR
    <% end %>
  <% end %>

<div class="row">
  <div class="small-12 columns">
    <h2>Invite Your Friends</h2>
  </div>

  <% current_user.friends.each do |friend| %>

  <div class="small-12 columns">

    <% unless friend.workouts.where(id: @workout).present? || friend.received_requests.where(workout: @workout).present? %>
      <%= form_tag invite_workout_path, :method => :post, :class => "friend-invite-form" do %>

    <div class="workout-friend">

      <%= link_to gravatar_for(friend), friend %>
      <h4><%= friend.username %></h4>
      <%= hidden_field_tag(:user_id, friend.id) %>
      <div class="actions" id="invitefriend">
        <%= submit_tag "Invite Friend", class: "tiny button" %>
      </div>
    </div>
  </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class ="row">
  <div class="small-12 columns">
    <%= link_to "Find Friends", users_path, class: "button" %>
  </div>
</div>


