<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  


   <div class="field small-6 large-centered columns">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <div class="field small-6 large-centered columns">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  
  <div class="field small-6 large-centered columns">
    <%= f.label :password %> <br>
    <%= f.password_field :password %>
  </div>

  <div class="field small-6 large-centered columns">
    <%= f.label :password_confirmation %> <br>
    <%= f.password_field :password_confirmation %>
  </div>


  <div class="actions">
    <%= f.button %>
  </div>
<% end %>
