<div class="row">
  <div class="small-12 large-12 columns"><h1>Get Fit with Friends</h1>
  </div>
</div>

<% count = 1 %>

<% @users.each do |user| %>

  <% if count.even? %>
    <div class="row">
  <% end %>

  <div class="small-12 large-6 columns">
  <br>
  <%= link_to gravatar_for(user), user_path(user.id) %> <br>
  <b>Username:</b> <%= user.username %> <br>
  <b>Email:</b> <%= mail_to "#{user.email}" %> <br>
  <br>

  <% if current_user == user %>
    <%= link_to 'Edit', edit_user_path(user), class: "tiny button"  %>
  <% end %>

  <% unless current_user == user || current_user.friends.include?(user) || current_user.pending_friendships.where(target_id: user).present? %>

    <%= form_for @friendship do |f| %>
        <%= f.hidden_field(:target_id, :value => user.id) %>
        <%= f.submit "Add Friend", class: "tiny button" %>
    <% end %>

  <% end %>

  </div>

  <% if count.even? %>
    </div>
  <% end %>

  <% count += 1 %>

<% end %>

<div class="row">
  <div class="small-12 columns">
    <h5>Invite a friend to join Fit By Friday</h5>
    <%= form_tag(app_invite_path, method: "post") do %>
    <%= email_field_tag(:email) %>
    <%= hidden_field_tag(current_user) %>
    <%= button_tag("Invite") %>
    <% end %>
  </div>
</div>


