<p id="notice"><%= notice %></p>

<h2>Profile:</h2>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<p>
  <strong>Email:</strong>
  <%= link_to "#{@user.email}", "mailto:#{@user.email}" %>
</p>

<div class="panel">
  Accountability Score <br>
  <%= (@user.received_ratings.where(:confirmed => true).count.to_f / @user.received_ratings.count.to_f * 100).to_s + "%" %>
</div>

<% if current_user != @user %>
<%= link_to 'Add Friend', new_friendship_path(target_id: @user.id), class: "button" %>
<% end %>

<h2>Friends:</h2>

<ul>
  <% @user.sent_friendships.each do |i| %>

      <% if i.confirmed == true %>

      <li><%= link_to i.target.username, user_path(i.target.id) %></li>
        
      <% end %>

  <% end %>

  <% @user.target_friendships.each do |i| %>

    <% if i.confirmed == true %>

    <li><%= link_to i.sender.username, user_path(i.sender.id) %></li>
        
    <% end %>

  <% end %>
</ul>

<% if current_user.id == @user.id %>

  <h2>Pending Friends:</h2>

  <h3>Friends you have requested:</h3>

  <ul>
    <% @user.sent_friendships.each do |i| %>

      <% if i.confirmed == false || i.confirmed == nil %>

        <li><%= link_to i.target.username, user_path(i.target.id) %></li>

      <% end %>

    <% end %>

  </ul>

  <h3>Friends that have requested you:</h3>

  <ul>
    <% @user.target_friendships.each do |i| %>

      <% if i.confirmed == false || i.confirmed == nil %>

        <li>

          <%= link_to i.sender.username, user_path(i.sender.id) %>

          <%= link_to 'Confirm Friendship', edit_friendship_path(id: i.id), class: "success tiny button" %> 

        </li>

      <% end %>

    <% end %>
  </ul>

<% end %>

<%= link_to 'Edit', edit_user_path(@user), class: "tiny button" %> 
<%= link_to 'Back', users_path, class: "tiny button" %>
