<p id="notice"><%= notice %></p>

<h2>Profile Page:</h2>


<% provide(:title, @user.username) %>
<h1>
  <%= gravatar_for @user %> <br>
  <%= @user.username %>
</h1>

<p>
  <strong>Email:</strong>
  <%= link_to "#{@user.email}", "mailto:#{@user.email}" %>
</p>

<div class="panel">
  Accountability Score <br>
  <%= (@user.received_ratings.where(:confirmed => true).count.to_f / @user.received_ratings.count.to_f * 100).to_s + "%" %>
</div>

<% if current_user == @user %>
  This is your profile!
<% else %>
  <% if !@user.friends.where(current_user) %>
    <%= link_to 'Add Friend', new_friendship_path(target_id: @user.id), class: "button" %>
  <% else %>
      Already Friends
  <% end %>
<% end %>

<h2>Friends:</h2>

  <% @user.friends.each do |friend| %>
      <%= link_to friend.username, user_path(friend) %><br>
  <% end %>

  <br>

<% if current_user == @user %>
  <% if @user.pending_friendships.any? %>
    <h2>Pending Friends:</h2>
    <% @user.pending_friendships.each do |friendship| %>
      <%= friendship.target.username %>
    <% end %>
  <% end %>
<% end %>

<% if @user.requested_friendships.any? %>
  <h3>Friends that have requested you:</h3>
    <% @user.requested_friendships.each do |friendship| %>
      <%= link_to friendship.sender.username, user_path(friendship.sender) %>
      <%= link_to 'Confirm Friendship  ', edit_friendship_path(friendship.sender), class: "success tiny button" %>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_user_path(@user), class: "tiny button" %>
<%= link_to 'Back', users_path, class: "tiny button" %>
