
<section class="bg-background">


  <div class="container">
    <div class="row">

      <%= image_tag "logo.png", class: "animated bounce logo2" %>

        <p>The fast way to schedule a workout with friends.</p>

           <div class="signup">
          <%= link_to 'Register with Facebook', auth_at_provider_path(:provider => :facebook), class: "button tiny" %>

          <a href="#" data-reveal-id="new-user-container" class="button tiny">Register with Email</a> <%= link_to "Sign in with Email", login_path, class: "button tiny"%>
        </div>

         <%= image_tag "ipone.png", class: 'logoff' %>

    </div>

  </div>


  <div id="new-user-container" class="reveal-modal" data-reveal>
    <%= render 'users/form' %>
  </div>

</section>

<!-- logos -->
    <section class="logos large12">
      <div class="container large-12">
        <div><%= image_tag "guardian.png" %></div>
        <div><%= image_tag "forbes.png" %></div>
        <div><%= image_tag "ny-times.png" %></div>
        <div><%= image_tag "mashable.png" %></div>
        <div><%= image_tag "red-bull.png" %></div>
      </div>
    </section>

