<section class="header-11-sub bg-midnight-blue">
  <div class="background">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="large4">
        <h3>Fit By Friday</h3>
        <p>Fit By Friday is an easy and fast way to schedule a workout with friends.</p>
        <div class="signup">
          <h3><a href="#" data-reveal-id="new-user-container">New User</a> or <%= link_to "Login", login_path %></h3>
        </div>
      </div>
    </div>
  </div>


  <div id="new-user-container" class="reveal-modal" data-reveal>
    <%= render 'users/form' %>
  </div>

</section>

<!-- logos -->
    <section class="logos large12">
      <div class="container large-12">
        <div><%= image_tag "guardian.png" %></div>
        <div><%= image_tag "forbes.png" %></div>
        <div><%= image_tag "ny-times.png" %></div>
        <div><%= image_tag "mashable.png" %></div>
        <div><%= image_tag "red-bull.png" %></div>
      </div>
    </section>

