<h2><%= current_user.username %>, are you sure you want to confirm <%= @friendship.target.username %> as a friend?</h2>

<p><div>
<%= form_for @friendship do |f| %>

  <%= f.hidden_field(:target_id) %>

  <%= f.submit "Confirm Friendship", class: "button" %>

<% end %>
</div></p>