<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>

    <%= javascript_include_tag "vendor/modernizr" %>

    <%#= javascript_include_tag "jquery.interactive_3d.js" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<%= render 'layouts/header' %>

  <!-- Content -->
  <section class="main-section">
    <!-- Notice -->
    <% if notice %>
        <div data-alert class="alert-box info radius">
          <p id="notice"><%= flash[:notice] %></p>
          <p id="alert"><%= flash[:alert] %></p>
          <a href="#" class="close">&times;</a>
        </div>
    <% end %>

  <div class="row">
    <div class="small-12 colums">
      <div class="main">
           <%= yield %>
      </div>
    </div>
  </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>