<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <!-- Title Area -->
        <li class="name">
          <h1>
             <h1><%= link_to "Fit By Friday", root_path %></h1>
          </h1>
        </li>

        <li class="toggle-topbar menu-icon">
         <a href="#"><span>menu</span></a>
        </li>

        <section class="top-bar-section">
        <!-- Right Nav Section -->
          <ul class="right">
            <li class="divider"></li>
            <li><%= link_to "DASHBOARD", workouts_path %></li>
            <li class="divider"></li>
        
            <li class="has-dropdown">
              <a href="#">PROFILE</a>
              
              <ul class="dropdown">
                <% if current_user %>
                  <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
                  <li><%= link_to "Logout", :logout, method: :post %></li>
                <% else %>
                  <li><%= link_to "Login", :login %></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </section>
      </ul>
    </nav>

  <div class="row">
    <div class="small-12 columns">
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
  </div>
 
  <div class="row">
    <div class="small-12 colums">
      <main>
         <%= yield %>
      </main>
    </div>
  </div>
   
    <%= javascript_include_tag "application" %>
  </body>
</html>